body{
    margin: 0;
    font-family: 'Arial', sans-serif;
}

    header {
        position: fixed;
        top: 0;
        z-index: 2;
        height: 80px;
        border-bottom: 1px solid black;
        width: 100%;
        background-color: #d2e7ff;
        color: #000000;
    }

header h1 {
    margin: auto;
    padding: 20px 20px;
    display: inline-block;
}

header ul {
    margin: auto;
    padding: 25px 20px;
    display: inline-block;
    font-weight: 600;
}

header li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0px 50px;
}

@media only screen and (max-width: 1200px){
    header {
        font-size: 15px;
    }
    
    header li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 10px;
    }
    
    }

@media only screen and (max-width: 970px) {

    .colorbox {
        margin: 0 !important;
    }

}

@media only screen and (max-width: 800px) {

    header {
        font-size: 18px;
        display: inline-block;
    }

    header li {
        padding-top: 15px;
    }

    body header h1 {
        display: none;
        padding-top: 40px;
    }

    .colorbox {
        margin: 0 !important;
    }
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3%;
}

.flexbox-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 40px;
}

.colorbox {
    margin: 20px;
    min-height: 100px;
    width: 15%;
    border: 1px solid black;
    text-align: center;
}


.fontbox {
    padding-left: 7px;
    margin: 20px 20px 20px 20px;
    min-height: 100px;
    min-width: 20%;
    background-color: white;
    font-size: 17px;
    border-left: 2px solid black;
}

#cs1a {
    background-color: #F44336;
    color: #fff;
}

#cs1b {
    background-color: #4CAF50;
    color: #fff;
}

#cs1c {
    background-color: #FF9800;
    color: #000;
}

#cs1d {
    background-color: #2A6592;
    color: #fff;
}

#cs1e {
    background-color: #8ec3eb;
    color: #000;
}


#cs2a {
    background-color: #264653;
    color: #fff;
}

#cs2b {
    background-color: #2a9d8f;
    color: #fff;
}

#cs2c {
    background-color: #e9c46a;
    color: #000;
}

#cs2d {
    background-color: #f4a261;
    color: #000;
}

#cs2e {
    background-color: #e76f51;
    color: #fff;
}


#cs3a {
    background-color: #e63946;
    color: #fff;
}

#cs3b {
    background-color: #f1faee;
    color: #000;
}

#cs3c {
    background-color: #a8dadc;
    color: #000;
}

#cs3d {
    background-color: #457b9d;
    color: #000;
}

#cs3e {
    background-color: #1d3557;
    color: #fff;
}

  
#colors {
    margin: 95px auto 50px auto;
    width: 90%;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

.section {
    margin: 50px auto 50px auto;
    width: 90%;
    border: 1px solid black;
    background-color: white;
}

#fonts {
    box-shadow: 5px 5px 5px black;
}

#styles {
    box-shadow: 5px 5px 5px black;
}

#buttons {
    box-shadow: 5px 5px 5px black;
}

.title {
    width: 100%;
    padding: 40px 0;
    margin: 0px;
    text-align: center;
    font-size: 2rem;
}

.anchor {
        position: relative;
        left: 0px;
        top: -80px;
}

.font-label {
    font-size: 1.5rem;
}

.regular {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
  }
  
 .roboto {
     font-family: 'Roboto', monospace;
 }

  .source-code-pro {
    font-family: 'Source Code Pro', monospace;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }

  .tomorrow {
      font-family: 'Tomorrow', sans-serif;
  }

  .times {
    font-family: 'Times New Roman', Times, serif;
}

.franklin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  .text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Times-New-Roman', sans-serif;
  }

h3 {
    margin-left: 7%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.text-container {
    margin-left: 50px;
}


.text-panel {
    margin: 20px;
  }

.border{
      padding:20px;
      border: 2px solid #008cba;
      border-radius: 3px;
  }

.text-color{
    color: #008cba;
}

.hover:hover {
    background-color: #008cba;
    color:white !important;
}

.button{
    margin: 60px 30px;
}

.no-deco{
    text-decoration: none;
}

.no-visited:visited{
    color: #008cba;
}

.red {
    background-color: #f44336;
    color:white !important;
    border: 2px solid black;
    padding:20px;
    border-radius: 3px;
}

.round {
    border-radius: 100%;
}

.transition {
    transition-duration: 0.4s;
}

.shadow:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.opacity{
    background-color: #008cba;
    padding:20px;
    border: 2px solid #008cba;
    border-radius: 3px;
    opacity: 0.6;
    color:white;
    text-align: center;
    font-size: 16px;
}

.opacity:hover {
    opacity: 1;
}

#color-converter {
    border: 2px solid #D5CC5A;
    overflow: hidden;
    margin: 15px auto;
    margin-bottom: 30px;
    max-width: 615px;
    width : 615px;
    height : 290px;
    position : relative;
}

#iframe-color-converter {
    position : absolute;
    top : -491px;
    left : -170px;
    width : 1280px;
    height : 1200px;
}

.color-hex {
    padding: 40px 0;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px black;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-size: 0.2rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.thH {
    background-color: #D2E7FF;
    color: #000;
}

.thC {
    background-color: #0070BA;
    color: white;
}

th,
tr,
td {
    font-size: 1rem;
    border: 1px solid black;
}

.trH:hover {
    background-color: #D2E7FF;
    cursor: pointer;
    font-weight: 600;
}

.trC:hover {
    background-color: #8ec0e2;
    cursor: pointer;
    font-weight: bold;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.tnr {
    font-family: "Times New Roman";
}

.georgia {
    font-family: Georgia;
}

.garamond {
    font-family: "Garamond";
}

.arial {
    font-family: Arial;
}

.verdana {
    font-family: Verdana;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

.couriernew {
    font-family: 'Courier New';
}

.lc {
    font-family: 'Lucinda Console';
}

.monaco {
    font-family: 'Monaco';
}

.bsmt {
    font-family: 'Brush Script MT';
}

.lh {
    font-family: 'Lucinda Handwriting';
}

.cop {
    font-family: 'Cooperplate';
}

.papyrus {
    font-family: 'Papyrus';
}